.splash {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;

  &__banner {
    position: absolute;
    width: 90%;
    height: 90vh;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: tomato;
    z-index: 1;
  }

  &__content {
    width: 100vw;
    position: relative;
    z-index: 2;
    text-align: center;

    .icon {
      font-size: 56px;
      color: white;
    }

    h1 {
      font-size: 48px;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
    }
  }
}