<app-navbar></app-navbar>
<header class="header-menu">
  <div class="container">
    <section class="columns is-centered">
      <div class="column is-half">
        <a class="header-menu__item active" routerLink="tweets">Tweets</a>
        <a class="header-menu__item" href="">Likes</a>
      </div>
    </section>
  </div>
</header>
<!-- <section class="section">
  <div class="container">
    <section class="columns is-centered">
      <div class="column is-half">
        <tweet-card></tweet-card>
        <tweet-card></tweet-card>
      </div>
    </section>
  </div>
</section> -->
<router-outlet></router-outlet>